###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Treat ClickOnce-sensitive files as binary to preserve integrity
*.manifest binary
*.application binary
*.deploy binary
*.config text eol=crlf

# Treat all executables and libraries as binary
*.exe binary
*.dll binary
*.png binary
*.ico binary